@import '_setting.scss';

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
}

.App {
  height: 100vh;
  overflow: hidden;
  line-height: 1.3em;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon {
    margin-right: 3px;
  }
}
